.card-container {
    background-color: white;
    width: 50px;
    margin: 0px;
    padding: 5px;
    border-radius: 3px;
    border: white solid 3px;
    box-shadow: 1px 1px 5px #000;
}

.card-container:hover {
    border: black solid 3px;
    cursor: pointer;
}

.card-top{
    font-size: small;
}

.card-bottom{
    font-size: small;
}

.h1-suit{
    margin:0;
}

.card-bottom{
    text-align: right;
}

.value-red {
    color:red;
}

.value-black {
    color: black;
}
