.chat-heading{
    color: blueviolet;
    text-align: center;
    height: 5vh;
    padding: 0;
    margin: 0;
}

.messages{
    overflow-y: scroll;
    margin-bottom: 100px;
    height: 60vh;
}

.send-message{
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
}

.chatInput{
    height: 10vh;
    width: 24vw;
    font-size: large;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-size: clamp(15px, 2vmin, 20px);
}

.chatButton{
    height: 5vh;
    width: 5vw;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: darkgreen;
}

.chatButton:hover{
    background-color: green;
    cursor: pointer;
}

.message-name{
    color: black;
    font-weight: bold;
    font-size: clamp(10px, 2vmin, 15px);
}

.message-content{
    font-size: clamp(10px, 2vmin, 15px);
}

