.grid-container{
    width:100vw;
    height:100vh;
    background-color:#232b2b;
    display: grid;
    grid-template-areas:
        'table history'
        'table chat';
    grid-gap: 0px;
    grid-template-rows: 30vh 70vh;
    grid-template-columns: 70vw 30vw;
}

.history{
    grid-area: history;
    background-color: crimson;
}

.chat {
    grid-area: chat;
    background-color: black;
}

.table {
    grid-area: table;
    /* background-color: darkgray; */
}