.grid-container{
    width:100vw;
    height:100vh;
    background:cornsilk;
    display: grid;
    grid-template-areas:
        'table table table history'
        'table table table chat'
        'table table table chat';
    grid-gap: 10px;
}

.history{
    grid-area: history;
    background-color: crimson;
}

.chat {
    grid-area: chat;
    background-color: darkcyan;
}

.table {
    grid-area: table;
    background-color: darkgray;
}