
.landing-main{
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color:#232b2b;
    grid-template-areas: 
    'heading heading'
    'join create';
    grid-gap: 0px;
    grid-template-rows: 20vh 80vh;
    grid-template-columns: 50vw 50vw;
}

.landing-heading{
    grid-area: heading;
    color:blanchedalmond;
    text-align: center;
}

.join-game{
    height: 300px;
    border-radius: 10px;
    grid-area: join;
    color:#f8f8ff;
    margin: 10px 30px 100px 30px;
}

.new-game{
    height: 300px;
    border-radius: 10px;
    grid-area: create;
    color: #f8f8ff;
    text-align: center;
    margin: 10px 30px 100px 30px;
}

.form-element{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: solid beige 5px;
    border-radius: 5px;
    padding: 5px;
}

.btn1{
    background-color: #005253;
    width: 100px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

.btn1:hover{
    cursor: pointer;
    background-color: darkturquoise;
}

.btn2{
    background-color: forestgreen;
}

.form-container{
    display: flex;
    flex-direction: column;
}

.form-container input{
    border: 2px solid #232b2b;
    outline: none;
    color: #f8f8ff;
    background-color: #232b2b;
    width: 200px;
    resize: none;
}

.form-container span{
    display: inline-block;
    width:150px;
}

.form-container input:focus{
    background-color: none;
    border: none;
    border-bottom: 2px dashed #D9FFA9;
}


