.table-container{
    width:100%;
    height:100%;
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 10vh auto auto auto 10vh;
    grid-template-columns: repeat(3,auto);
    /* note you cannot have a grid area (including empties) which is not a rectangle!! */
    grid-template-areas:
        'instruction instruction instruction'      
        'Player3 Player3 Player3'      
        'Player2 Deck Player4'      
        'OwnCards OwnCards OwnCards'     
        'playButtons playButtons playButtons';     
}

.myCards {
    grid-area: OwnCards;
    display: flex;
    justify-content: center;
}

.player2 {
    grid-area: Player2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player3 {
    grid-area: Player3;
    display: flex;
    justify-content: center;
}

.player4 {
    grid-area: Player4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-cards {
    grid-area: Deck;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playButtons {
    grid-area: playButtons;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
}

.playButtons button{
    background-color: #005253;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    color: white;
    margin: 5px;
}

.playButtons button:hover{
    cursor: pointer;
    background-color: darkturquoise;
}

.rotate-clockwise{
    transform: rotate(90deg);
}

.rotate-anticlockwise{
    transform:rotate(-90deg);
}

.main-message {
    grid-area: instruction;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    
}

.instruction-message{
    margin:0;
    padding: 0;
    text-align: center;
    color: blanchedalmond;
}


.btn{
    background-color: #005253;
    border-radius: 5px;
    border: none;
    color: white;
    margin-left: 30px;
    margin-top: 5px;
}

.btn:hover{
    cursor: pointer;
    background-color: darkturquoise;
}


